:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  display: block; 
  min-width: 100vw;
  min-height: 100vh;
  background-color: #111827; 
}

#root {
  width: 100%;
  height: 100%;
  max-width: none; 
  margin: 0;
  padding: 0;
  text-align: left; 
}